@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: OpenSans;
	font-display: swap;
	src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Ruda;
	font-display: swap;
	src: url("../fonts/Ruda-Regular.woff2") format("woff2"), url("../fonts/Ruda-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Ruda;
	font-display: swap;
	src: url("../fonts/Ruda-Medium.woff2") format("woff2"), url("../fonts/Ruda-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Ruda;
	font-display: swap;
	src: url("../fonts/Ruda-SemiBold.woff2") format("woff2"), url("../fonts/Ruda-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
